<!DOCTYPE html>
<html>
<head>
    <title>Petbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/custom_k.css"/>
    <link rel="stylesheet" href="/stylesheets/custom_resp_k.css"/>
    <link rel="stylesheet" href='/stylesheets/font-awesome.css'/>
    <link rel="stylesheet" href='/stylesheets/custom_alex.css'/>
</head>
<body>
<header class="custom-header">
    <section class="">
        <div class="navbar-header">
            <a href="/" class="">Petbook</a>
        </div>
    </section>
    {{#if this.user}}
        <nav class="left-align">
            {{#if this.user.hasRequest}}
                <a href="/friendRequests/"><span
                        class="label label-success">You have a pending friend request!</span></a>
            {{/if}}
            <ul class="cstm-menu-header">
                <li><a href="/" class="fa fa-home"></a></li>
                <li>
                    <div class="fa fa-search"></div>
                    <form class="form-inline search-form" method="POST" action="/search/">
                        <!--<label class="sr-only" for="">Search Field</label>-->
                        <input type="text" class="input-cstm-style search-cstm" id="" name="searchValue"
                               placeholder="Search for other pets...">
                        <input type="submit" class="btn btn-secondary sign-in-log-out" value="Search">
                    </form>
                </li>
                <li><a href="/user/{{user.userId}}" class="fa fa-paw">{{user.fullName}}</a></li>
                <li>
                    <div class="dropdown">List by
                            category
                            <span class="caret"></span>
                            <ul class="dropdown-categories">
                                {{#each categories}}
                                    <li><a href="/category/{{this}}/">{{this}}</a></li>
                                {{/each}}
                            </ul>
                    </div>
                </li>
                <li><a href="/user/logout" class="fa fa-sign-out">LogOut</a></li>
            </ul>
        </nav>
    {{/if}}
    {{#unless this.user}}
    <nav class="left-align">
            <form class="form-inline" method="POST" action="/user/login">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Email:</label>
                    <input type="text" class="input-cstm-style" id="" name="email" placeholder="Email"
                           value={{candidateUser.email}}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="pwd">Password:</label>
                    <input type="password" class="input-cstm-style" id="" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-secondary sign-in-log-out" id="" value="LogIn">
                </div>

            </form>
        </nav>
    {{/unless}}

</header>
<main>
    {{#if errorMessage}}
        <div class="error-custom-style">
            <span class="">{{errorMessage}}</span>
        </div>

    {{/if}}
    {{{body}}}
</main>
<footer id="cstm-stl-ftr">
    <div>
        <p>&copy; 2016 - codeBusters</p>
    </div>

    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/upload-photos-tabs.js"></script>
    <script src="/javascripts/upload-photos-newsfeed.js"></script>
    <script src="/javascripts/upload-profile-photo.js"></script>
    <script src="/javascripts/FAQ.js"></script>
</footer>
</body>
</html>
