<div class="container">
  {{#each users}}
    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <section class="container-search-output">
            <section>
                <article class="">
                  <a href="/user/{{userId}}">
                    <img src="/images/no-profile-photo.jpg" alt="" class="profile-image-for-search">
                  </a>
                </article>
            </section>
            <section class="container-info-search">
                <article>
                    <ul class="info-for-user">
                        <li>
                            <!--when click - goes to profile-->
                            <a href="/user/{{userId}}">{{fullName}}</a>
                        </li>
                        <li>
                            <span>Owner: {{ownerName}}</span>
                        </li>
                        <li>
                            <span>Email: </span>
                            <!--when click - goes to profile-->
                            <a href="/user/{{userId}}">{{email}}</a>
                        </li>
                        <li>
                            <span>Category: </span>
                            <!--when click - new search and display all from that category-->
                            <a href="#">{{category.name}}</a>
                        </li>
                    </ul>
                </article>
            </section>
            <section class="btns-container-friend-unfriend">
                {{#if friendStatus.sentRequest}} {{else if friendStatus.areFriends}}
                    <label class="add-friend">Friends</label>
                    <form method="POST" action="/user/{{_id}}/cancelFriendship">
                        <input type="submit" id="remove-friend" class="btn-cstm-style rgstr-btn already-friends-unfriend"
                              value="Cancel Friendship">
                    </form>
                {{else}} {{#isSameUser ../this.user.id profileUser.id}}
                    <!-- you can't friend REQ yourself!-->
                {{else}}
                    <form method="POST" action="/friendRequest/{{_id}}/send">
                        <input type="submit" id="add-friend" class="btn-cstm-style rgstr-btn become-friends" value="Send Friend Request">
                    </form>
                {{/isSameUser}} {{/if}}
            </section>
        </section>
    </article>
  {{/each}}
</div>