<section id="main-page-bcgrnd-register">
    <article class="box-to-dim-behind form-to-float">
        <form class="" action="/user/register" method="POST">
            <fieldset>
                <legend>Sign Up</legend>
                <div class="">
                    <label class="" for="email">Email</label>
                    <input type="text" class="cstm-input-register-style input-cstm-style" id="email" , name="email" , value="{{user.email}}" , placeholder="Email",
                    required/>
                </div>
                <div class="">
                    <label class="" for="fullName">Name</label>
                    <input type="text" class="cstm-input-register-style input-cstm-style" id="fullName" , name="fullName" , value="{{user.fullName}}"
                        , placeholder="Name", required/>
                </div>
                <div class="">
                  <label class="" for="ownerName">Owner's Name</label>
                  <input type="text" class="cstm-input-register-style input-cstm-style" id="ownerName", name="ownerName", value="{{user.ownerName}}",
                    placeholder="Your owner's name", required>
                </div>
                <div class="">
                    <label class="" for="password">Password</label>
                    <input type="password" class="cstm-input-register-style input-cstm-style" id="password" , name="password" , placeholder="Password",
                    required/>
                </div>
                <div class="">
                    <label class="" for="confirmedPassword">Confirm Password</label>
                    <input type="password" class="cstm-input-register-style input-cstm-style" id="confirmedPassword" , name="confirmedPassword"
                        , placeholder="Confirm Password", required />
                </div>
                <div class="">
                    <select class="cstm-input-register-style input-cstm-style" name="category">
                        {{#each categories}}
                            <option value={{name}}>{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="">
                    <div class="">
                        <button type="submit" class="btn-cstm-style rgstr-btn">Register</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <a href="" class="custom-link-style">Forgot your password?</a>
    </article>
</section>
<section>
    <p></p>
</section>