<div id="newsfeed-wrapper" class="newsfeed-wrapper">
    <section id="add-post" class="add-post">
        <form method="post" action="/post/add" enctype="multipart/form-data">
            <textarea id="profile-post" class="profile-post" rows="2" name="content"
                      placeholder="How are you doing?">{{failedPost.content}}</textarea>
            <article id="bottom-line-post" class="bottom-line-post">
                <label for="addPhotoToPost">
                    <section class="add-photo-post">
                        <input type="file" name="addPhotoToPost" class="" id="addPhotoToPost" value="" multiple/>
                    </section>

                </label>
                <section class="">
                    <output id="result-photos-in-post">
                    </output>
                </section>

                <!--<input type="checkbox" name="publicPost" id="make-public-checkbox" value="public"> Make my post public-->

            </article>
            <article class="bottom-bottom-line-post">
                <section class="radio-btns-container">
                    <div>
                        <input type="radio" name="publicPost" id="single-public"
                               value="publicvisible" checked="checked">
                        <label for="single-public">Is this post public?</label>
                    </div>
                    <div>
                        <input type="radio" name="publicPost" id="single-category-friends"
                               value="groupvisible">
                        <label for="single-category-friends">Or is it visible to your category and
                            friends?</label>
                    </div>
                </section>
                <section>
                    <input type="submit" class="post-btn btn-cstm-style" value="Post"/>
                </section>
            </article>


        </form>
    </section>
    <main>
        <!-- Here post view -->
        {{#each posts}}
            <section id="post-view" class="post-view">
                <section class="post-post-view">
                    <header>
                        <section>
                            <div class="contain-profile-image-container">
                                <article class="profile-image-container">
                                    {{#if author.profilePic}}
                                        <img src="/uploads/{{author.profilePic.filename}}" alt="">
                                    {{else}}
                                        <img src="/images/no-profile-photo.jpg" alt="">
                                    {{/if}}
                                    <!--profile picture example: <img src="{dir photo resize width: 30px}"/>-->

                                </article>
                            </div>
                            <article class="name-date-container ">
                                <ul class="info-for-user">
                                    <li>
                                        <a href="/user/{{author.userId}}">{{author.fullName}}</a>
                                    </li>
                                    <li>
                                        <span>{{dateStr}}</span>
                                    </li>
                                </ul>


                            </article>
                        </section>
                    </header>
                    <article id="post-content" class="post-content">
                        {{content}}
                    </article>

                    <article class="cntnr-photos row custom-gallery">

                        {{#eachUpTo photos 4}}
                            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                                <section class="photo-cntnr">

                                    <div class="album-photo-content">
                                        <img src="/uploads/{{this.filename}}" alt="">
                                    </div>
                                    <footer class="preview-photo-thumbnail-footer">
                                        {{#if ../../this.user}}
                                            <ul>
                                                {{#hasPawed paws ../../this.user._id}}
                                                    <form method="post" action="/photo/{{id}}/removePaw">
                                                        {{!--SHOULD BE GREY--}}
                                                        <li>
                                                            <input type="submit" id="remove-paw" class="btn" value="">{{paws.length}}
                                                        </li>
                                                    </form>
                                                    <form method="post" action="/photo/{{id}}/addLove">
                                                        <li>
                                                            <input type="submit" id="love" class="btn"
                                                                   value="">{{loves.length}}
                                                        </li>
                                                    </form>
                                                    <form method="post" action="/photo/{{id}}/addDislike">
                                                        <li>
                                                            <input type="submit" id="dislike" class="btn"
                                                                   value="">{{dislikes.length}}
                                                        </li>
                                                    </form>
                                                {{else}}
                                                {{!--User has not pawed this post--}}
                                                    {{#hasLoved loves ../../this.user._id}}
                                                        <form method="post" action="/photo/{{id}}/addPaw">
                                                            <li>
                                                                <input type="submit" id="paw" class="btn"
                                                                       value="">{{paws.length}}
                                                            </li>
                                                        </form>
                                                        <form method="post" action="/photo/{{id}}/removeLove">
                                                            {{!--SHOULD BE GREY--}}
                                                            <li>
                                                                <input type="submit" id="remove-love" class="btn" value="">{{loves.length}}
                                                            </li>
                                                        </form>
                                                        <form method="post" action="/photo/{{id}}/addDislike">
                                                            <li>
                                                                <input type="submit" id="dislike" class="btn"
                                                                       value="">{{dislikes.length}}
                                                            </li>
                                                        </form>
                                                    {{else}}
                                                    {{!--User has not loved this post--}}
                                                        {{#hasDisliked dislikes ../../this.user._id}}
                                                            <form method="post" action="/photo/{{id}}/addPaw">
                                                                <li>
                                                                    <input type="submit" id="paw" class="btn"
                                                                           value="">{{paws.length}}
                                                                </li>
                                                            </form>
                                                            <form method="post" action="/photo/{{id}}/addLove">
                                                                <li>
                                                                    <input type="submit" id="love" class="btn"
                                                                           value="">{{loves.length}}
                                                                </li>
                                                            </form>
                                                            <form method="post" action="/photo/{{id}}/removeDislike>">
                                                                {{!--SHOULD BE GREY--}}
                                                                <li>
                                                                    <input type="submit" id="remove-dislike" class="btn"
                                                                           value="">{{dislikes.length}}
                                                                </li>
                                                            </form>
                                                        {{else}}
                                                        {{!--User has not liked this post at all--}}
                                                            <form method="post" action="/photo/{{id}}/addPaw">
                                                                <li>
                                                                    <input type="submit" id="paw" class="btn"
                                                                           value="">{{paws.length}}
                                                                </li>
                                                            </form>
                                                            <form method="post" action="/photo/{{id}}/addLove">
                                                                <li>
                                                                    <input type="submit" id="love" class="btn"
                                                                           value="">{{loves.length}}
                                                                </li>
                                                            </form>
                                                            <form method="post" action="/photo/{{id}}/addDislike">
                                                                <li>
                                                                    <input type="submit" id="dislike" class="btn"
                                                                           value="">{{dislikes.length}}
                                                                </li>
                                                            </form>
                                                        {{/hasDisliked}}
                                                    {{/hasLoved}}
                                                {{/hasPawed}}
                                            </ul>
                                        {{/if}}
                                    </footer>
                                </section>
                            </article>
                        {{/eachUpTo}}

                    </article>

                    <footer class="preview-photo-thumbnail-footer post-btn-newsfeed">
                        {{#if ../this.user}}
                            <ul>
                                {{#hasPawed paws ../this.user._id}}
                                    <form method="post" action="/post/{{id}}/removePaw">
                                        {{!--SHOULD BE GREY--}}
                                        <li>
                                            <input type="submit" id="remove-paw" class="btn" value="">{{paws.length}} Paws
                                        </li>
                                    </form>
                                    <form method="post" action="/post/{{id}}/addLove">
                                        <li>
                                            <input type="submit" id="love" class="btn" value="">{{loves.length}} Loves
                                        </li>
                                    </form>
                                    <form method="post" action="/post/{{id}}/addDislike">
                                        <li>
                                            <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                            Dislikes
                                        </li>
                                    </form>
                                {{else}}
                                {{!--User has not pawed this post--}}
                                    {{#hasLoved loves ../this.user._id}}
                                        <form method="post" action="/post/{{id}}/addPaw">
                                            <li>
                                                <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                            </li>
                                        </form>
                                        <form method="post" action="/post/{{id}}/removeLove">
                                            {{!--SHOULD BE GREY--}}
                                            <li>
                                                <input type="submit" id="remove-love" class="btn" value="">{{loves.length}} Loves
                                            </li>
                                        </form>
                                        <form method="post" action="/post/{{id}}/addDislike">
                                            <li>
                                                <input type="submit" id="dislike" class="btn"
                                                       value="">{{dislikes.length}}
                                                Dislikes
                                            </li>
                                        </form>
                                    {{else}}
                                    {{!--User has not loved this post--}}
                                        {{#hasDisliked dislikes ../this.user._id}}
                                            <form method="post" action="/post/{{id}}/addPaw">
                                                <li>
                                                    <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                                    Paws
                                                </li>
                                            </form>
                                            <form method="post" action="/post/{{id}}/addLove">
                                                <li>
                                                    <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                    Loves
                                                </li>
                                            </form>
                                            <form method="post" action="/post/{{id}}/removeDislike>">
                                                {{!--SHOULD BE GREY--}}
                                                <li>
                                                    <input type="submit" id="remove-dislike" class="btn"
                                                           value="">{{dislikes.length}} Dislikes
                                                </li>
                                            </form>
                                        {{else}}
                                        {{!--User has not liked this post at all--}}
                                            <form method="post" action="/post/{{id}}/addPaw">
                                                <li>
                                                    <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                                    Paws
                                                </li>
                                            </form>
                                            <form method="post" action="/post/{{id}}/addLove">
                                                <li>
                                                    <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                    Loves
                                                </li>
                                            </form>
                                            <form method="post" action="/post/{{id}}/addDislike">
                                                <li>
                                                    <input type="submit" id="dislike" class="btn"
                                                           value="">{{dislikes.length}} Dislikes
                                                </li>
                                            </form>
                                        {{/hasDisliked}}
                                    {{/hasLoved}}
                                {{/hasPawed}}
                            </ul>
                        {{/if}}
                    </footer>
                </section>

                <section id="comment-view">
                    <!-- COMMENTS -->
                    {{#each comments}}
                        <section>
                            <div class="contain-profile-image-container">
                                <article class="profile-image-container">
                                    {{#if author.profilePic}}
                                        <img src="/uploads/{{author.profilePic.filename}}" alt="">
                                    {{else}}
                                        <img src="/images/no-profile-photo.jpg" alt="">
                                    {{/if}}
                                </article>
                            </div>
                            <section>
                                <article>
                                    {{author.fullName}}
                                </article>
                                <article>
                                    {{dateStr}}
                                </article>
                            </section>
                        </section>
                        <article id="comment-value">
                            {{content}}
                        </article>
                    {{/each}}
                    <!-- END OF COMMENTS -->
                </section>
                <section id="comments-form">
                    <section>
                        <div class="contain-profile-image-container">
                            <article class="profile-image-container">
                                {{#if ../this.user.profilePic}}
                                    <img src="/uploads/{{../this.user.profilePic.filename}}" alt="">
                                {{else}}
                                    <img src="/images/no-profile-photo.jpg" alt="">
                                {{/if}}
                            </article>
                        </div>
                        <section id="add-comment">
                            <form method="post" action="/post/{{id}}/addComment">
                                <textarea id="profile-comment" name="content" rows="1"
                                          placeholder="Add a comment"></textarea>
                                <input type="submit" id="comment-btn" value="">
                            </form>
                        </section>
                    </section>
                </section>
            </section>
        {{/each}}
        <!--end post view-->
    </main>
    </section>
</div>