<div id="newsfeed-wrapper">
    <section id="add-post">
        <form method="post" action="/post/add">
            <textarea id="profile-post" rows="2" name="content" placeholder="How are you doing?">{{failedPost.postContent}}</textarea>
            <article id="bottom-line-post">
                <input type="button" name="add-photo" id="add-photo-btn" value=" "/>
                <input type="submit" class="button-with-plus post-btn" value="Post"/>
            </article>
        </form>
    </section>
    <main>
        <!-- Here post view -->
        {{#each posts}}
        <section id="post-view">
            <header>
                <section>
                    <article>
                        <!--profile picture example: <img src="{dir photo resize width: 30px}"/>-->
                        {{author.fullName}}
                    </article>
                    <section>
                        <article>
                            {{fullName}}
                        </article>
                        <article>
                            {{!--{{postDate}}--}}
                        </article>
                    </section>
                </section>
            </header>
            <article id="post-content">
                {{content}}
            </article>
            <footer>
                <ul>
                    {{!--<li id="like-btn">{{likeCount}}</li>
                    <li id="love-btn">{{loveCount}}</li>
                    <li id="dislike-btn">{{dislikeCount}}</li>--}}
                </ul>
            </footer>
            <section id="comment-view">
                <!-- COMMENTS -->
                {{#each comments}}
                <section>
                    <article>
                        <!--profile picture example: <img src="{dir photo resize width: 30px}"/>-->
                    </article>
                    <section>
                        <article>
                            {{author.fullName}}
                        </article>
                        <article>
                            {{date}}
                        </article>
                    </section>
                </section>
                <article id="comment-value">
                    {{content}}
                </article>
                {{/each}}
                <!-- END OF COMMENTS -->
            </section>
            <section id="comments-form">
                <section>
                    <article>
                        <!--profile picture example: <img src="{dir photo resize width: 30px}"/>-->
                    </article>
                    <section id="add-comment">
                        <form method="post" action="">
                            <textarea id="profile-comment" rows="1" placeholder="Add a comment"></textarea>
                            <input type="submit" name="commentBtn" id="comment-btn" value="">
                        </form>
                    </section>
                </section>
            </section>
        </section>
        {{/each}}
        <!--end post view-->
    </main>
    </section>
</div>