<!doctype html>
<head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="profile-wrapper">
    <section id="profile-info">
        <section id="large-profile-picture">
            <!--profile picture example: <img src="{dir photo resize width: 300px}"/>-->
        </section>
        <button id="add-favorites" class="button-with-plus add-favorites">Add to Favorites</button>
        <section>
            <ul>
                <li id="like">{{totalLikeCount}}</li>
                <li id="love">{{totalLoveCount}}</li>
                <li id="dislike">{{totalDislikeCount}}</li>
            </ul>
        </section>
        <section id="user-info">
            profile info (age, city etc)
        </section>
    </section>
    <section id="profile-content">
        <header id="user-names">
            <p><a href="#">{{fullName}}</a></p>
            <p>owner name</p>
        </header>
        <nav id="user-nav">
            <ul>
                <li id="user-profile-nav"><a href="/user/{{id}}">Profile</a></li>
                <li id="user-about-nav"><a href="/user/about">About</a></li>
                <li id="user-photos-nav"><a href="/user/gallery">Photos</a></li>
                <li id="user-groups-nav"><a href="/user/groups">Groups</a></li>
            </ul>
        </nav>
        <section id="add-post">
            <form method="post" action="">
                <textarea id="profile-post" rows="2" placeholder="How you doing?"></textarea>
                <article id="bottom-line-post">
                    <input type="button" name="add-photo" id="add-photo-btn" value=" "/>
                    <input type="submit" name="submit-post" class="button-with-plus post-btn" value="Post"/>
                </article>
            </form>
        </section>
        <main>
            <!-- Here post view -->
            <section id="post-view">
                <header>
                    <section>
                        <article>
                            <!--profile picture example: <img src="{dir photo resize width: 30px}"/>-->
                        </article>
                        <section>
                            <article>
                                {{fullName}}
                            </article>
                            <article>
                                {{postDate}}
                            </article>
                        </section>
                    </section>
                </header>
                <article id="post-content">
                    {{postValue}}
                </article>
                <footer>
                    <ul>
                        <li id="like-btn">{{likeCount}}</li>
                        <li id="love-btn">{{loveCount}}</li>
                        <li id="dislike-btn">{{dislikeCount}}</li>
                    </ul>
                </footer>
                <section id="comment-view">
                    <section>
                        <article>
                            <!--profile picture example: <img src="{dir photo resize width: 30px}"/>-->
                        </article>
                        <section>
                            <article>
                                {{fullNameCommentUser}}
                            </article>
                            <article>
                                {{postDateCommnet}}
                            </article>
                        </section>
                    </section>
                    <article id="comment-value">
                        {{comment}}
                    </article>
                </section>
                <section id="comments-form">
                    <section>
                        <article>
                            <!--profile picture example: <img src="{dir photo resize width: 30px}"/>-->
                        </article>
                        <section id="add-comment">
                            <form method="post" action="">
                                <textarea id="profile-comment" rows="1" placeholder="Comment:"></textarea>
                                <input type="submit" name="commentBtn" id="comment-btn" value="">
                            </form>
                        </section>
                    </section>
                </section>
            </section>
            <!--end post view-->
        </main>
    </section>
</div>
</body>
</html>

