<div class="wrapper">
    <section id="profile-info">
        <section id="large-profile-picture">
            <!--profile picture example: <img src="{dir photo resize width: 300px}"/>-->
        </section>
        {{#if friendStatus.sentRequest}}
        {{else if friendStatus.areFriends}}
        {{else}}
          {{#isSameUser this.user.id profileUser.id}} <!-- you can't friend REQ yourself!-->
          {{else}}
          <form method="POST" action="/sendFriendRequest/{{profileUser.id}}">
            <input type="submit" id="add-favorites" class="button-with-plus add-favorites" value="Send Friend Request"></button>
          </form>
          {{/isSameUser}}
        {{/if}}
        <section>
            <ul>
                <li id="like">{{profileUser.totalLikeCount}}</li>
                <li id="love">{{profileUser.totalLoveCount}}</li>
                <li id="dislike">{{profileUser.totalDislikeCount}}</li>
            </ul>
        </section>
        <section id="user-info">
            profile info (age, city etc)
        </section>
    </section>
    <section id="profile-content">
        <header id="user-names">
            <p><a href="#">{{profileUser.fullName}}</a></p>
            <p>owner name</p>
        </header>
        <nav id="user-nav">
            <ul>
                <li id="user-profile-nav"><a href="/user/{{profileUser.id}}">Profile</a></li>
                <li id="user-about-nav"><a href="/user/about">About</a></li>
                <li id="user-photos-nav"><a href="/user/gallery">Photos</a></li>
                <li id="user-groups-nav"><a href="/user/groups">Groups</a></li>
            </ul>
        </nav>
            <!-- Here include addPost.hbs if url is user/id-->
        <main>
            <!-- Here include post view, about, photo gallery or groups views -->
        </main>
    </section>
</div>