<div class="wrapper profile-all-container row">
    <section class="header-container col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <header id="user-names" class="user-names">
            <p><a href="/user/{{profileUser.userId}}">{{profileUser.fullName}}</a></p>
            <p>Owned by <strong>{{profileUser.ownerName}}</strong></p>
        </header>
        <nav id="user-nav"class="user-nav">
            <ul>
                <li id="user-photos-nav"><span>Click to see your photos</span><a href="/user/{{profileUser.userId}}/photos" class="profile-btn-cstm-style">Photos of you</a></li>
            </ul>
        </nav>
    </section>

    <section id="profile-info" class="profile-pic-container col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <section id="large-profile-picture" class="large-profile-picture">
          {{#if profileUser.profilePic}}
            <img src="/uploads/{{profileUser.profilePic.filename}}" alt="">
          {{else}}
            <img src="/images/no-profile-photo.jpg" alt="">
          {{/if}}
        </section>
        {{#if friendStatus.sentRequest}}
        <span class="add-friend">Friend request pending</span>
        <form method="POST" action="/friendRequest/{{friendStatus.friendRequest._id}}/remove">
          <input type="submit" id="remove-friend" class="btn-cstm-style rgstr-btn already-friends-unfriend"
                    value="Cancel request">
        </form> 
        {{else if friendStatus.receivedRequest}}
          <form method="POST" action="/friendRequest/{{friendStatus.receivedFriendRequest._id}}/accept">
            <input type="submit" class="button-with-plus add-friend" value="Accept Friendship">
          </form>
          <form method="POST" action="/friendRequest/{{friendStatus.receivedFriendRequest._id}}/decline">
            <input type="submit" class="button-with-plus remove-friend" value="Decline Friendship">
          </form>
        {{else if friendStatus.areFriends}}
            <label class="add-friend">Friends</label>
            <form method="POST" action="/user/{{profileUser.id}}/cancelFriendship">
                <input type="submit" id="remove-friend" class="button-with-plus remove-friend"
                       value="Cancel Friendship">
            </form>
        {{else}} 
            {{#isSameUser this.user.id profileUser.id}}
                <!-- you can't friend REQ yourself!-->
            {{else}}
                <form method="POST" action="/friendRequest/{{profileUser.id}}/send">
                    <input type="submit" id="add-friend" class="button-with-plus add-friend" value="Send Friend Request">
                </form>
            {{/isSameUser}}
         {{/if}}
        <section class="profile-btns-total">
            <ul>
                <li id="like"></li><span>{{profileUser.receivedPawsCount}}</span>
                <li id="love"></li><span>{{profileUser.receivedLovesCount}}</span>
                <li id="dislike"></li><span>{{profileUser.receivedDislikesCount}}</span>
            </ul>
        </section>
        <section id="user-info" class="user-info">
            {{#isSameUser this.user.id profileUser.id}}
            <form method="post" action="/photo/profile" enctype="multipart/form-data">
                <article id="bottom-line-post" class="bottom-line-post add-profile-photo-area">
                    <label for="addProfilePhoto" class="add-profile-photo-button">
                        <section class="add-profile-photo add-photo-post">
                            <input type="file" name="addProfilePhoto" class="" id="addProfilePhoto" value=""/>
                        </section>

                    </label>
                    <span>Change your profile photo</span>
                    <section class="">
                        <output id="result-profile-photo">
                        </output>
                    </section>
                    <section class="bottom-bottom-line-post">
                        <input type="submit" id="upload-profile-pic" class="post-btn btn-cstm-style" value="Upload"/>
                    </section>
                </article>
            </form>
            {{/isSameUser}}
        </section>
    </section>
    <section id="profile-content" class="profile-content col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <!--<section class="header-container">-->
            <!--<header id="user-names" class="user-names">-->
                <!--<p><a href="/user/{{profileUser.userId}}">{{profileUser.fullName}}</a></p>-->
                <!--<p>Owned by <strong>{{profileUser.ownerName}}</strong></p>-->
            <!--</header>-->
            <!--<nav id="user-nav"class="user-nav">-->
                <!--<ul>-->
                    <!--<li id="user-photos-nav"><span>Click to see your photos</span><a href="/user/{{profileUser.userId}}/photos" class="profile-btn-cstm-style">Photos of you</a></li>-->
                <!--</ul>-->
            <!--</nav>-->
        <!--</section>-->

        <!-- Here include addPost.hbs if url is user/id-->
        {{#each posts}}
            <section id="post-view" class="post-view-profile-view">
                <header>
                    <section>
                        <article>
                            {{#if author.profilePic}}
                              <img src="/uploads/{{author.profilePic.filename}}" alt="">
                            {{else}}
                              <img src="/images/no-profile-photo.jpg" alt="">
                            {{/if}}
                            <a href="/user/{{author.userId}}">{{author.fullName}}</a>
                        </article>
                        <section>
                            <article>
                                {{dateStr}}
                            </article>

                        </section>
                    </section>
                </header>
                <article id="post-content">
                    {{content}}
                </article>

                <article class="cntnr-photos row custom-gallery">
                    {{#each photos}}
                        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <section class="photo-cntnr">
                                <div class="album-photo-content">
                                    <img src="/uploads/{{this.filename}}" alt="">
                                </div>
                                <footer class="preview-photo-thumbnail-footer">
                                   {{#if ../../this.user}}
                                    <ul>
                                        {{#hasPawed paws ../../this.user._id}}
                                            <form method="post" action="/photo/{{id}}/removePaw">
                                                {{!--SHOULD BE GREY--}}
                                                <li>
                                                    <input type="submit" id="remove-paw" class="btn" value="">{{paws.length}}
                                                </li>
                                            </form>
                                            <form method="post" action="/photo/{{id}}/addLove">
                                                <li>
                                                    <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                </li>
                                            </form>
                                            <form method="post" action="/photo/{{id}}/addDislike">
                                                <li>
                                                    <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                                </li>
                                            </form>
                                        {{else}}
                                        {{!--User has not pawed this post--}}
                                            {{#hasLoved loves ../../this.user._id}}
                                                <form method="post" action="/photo/{{id}}/addPaw">
                                                    <li>
                                                        <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                                    </li>
                                                </form>
                                                <form method="post" action="/photo/{{id}}/removeLove">
                                                    {{!--SHOULD BE GREY--}}
                                                    <li>
                                                        <input type="submit" id="remove-love" class="btn" value="">{{loves.length}}
                                                    </li>
                                                </form>
                                                <form method="post" action="/photo/{{id}}/addDislike">
                                                    <li>
                                                        <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                                    </li>
                                                </form>
                                            {{else}}
                                            {{!--User has not loved this post--}}
                                                {{#hasDisliked dislikes ../../this.user._id}}
                                                    <form method="post" action="/photo/{{id}}/addPaw">
                                                        <li>
                                                            <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                                        </li>
                                                    </form>
                                                    <form method="post" action="/photo/{{id}}/addLove">
                                                        <li>
                                                            <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                        </li>
                                                    </form>
                                                    <form method="post" action="/photo/{{id}}/removeDislike>">
                                                        {{!--SHOULD BE GREY--}}
                                                        <li>
                                                            <input type="submit" id="remove-dislike" class="btn"
                                                                  value="">{{dislikes.length}}
                                                        </li>
                                                    </form>
                                                {{else}}
                                                {{!--User has not liked this post at all--}}
                                                    <form method="post" action="/photo/{{id}}/addPaw">
                                                        <li>
                                                            <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                                        </li>
                                                    </form>
                                                    <form method="post" action="/photo/{{id}}/addLove">
                                                        <li>
                                                            <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                        </li>
                                                    </form>
                                                    <form method="post" action="/photo/{{id}}/addDislike">
                                                        <li>
                                                            <input type="submit" id="dislike" class="btn"
                                                                  value="">{{dislikes.length}}
                                                        </li>
                                                    </form>
                                                {{/hasDisliked}}
                                            {{/hasLoved}}
                                        {{/hasPawed}}
                                    </ul>
                                {{/if}}
                                </footer>
                            </section>
                        </article>
                    {{/each}}
                </article>

                <footer class="preview-photo-thumbnail-footer post-btn-newsfeed">
                    {{#if ../this.user}}
                        <ul>
                            {{#hasPawed paws ../this.user._id}}
                                <form method="post" action="/post/{{id}}/removePaw">
                                    {{!--SHOULD BE GREY--}}
                                    <li>
                                        <input type="submit" id="remove-paw" class="btn" value="">{{paws.length}} Paws
                                    </li>
                                </form>
                                <form method="post" action="/post/{{id}}/addLove">
                                    <li>
                                        <input type="submit" id="love" class="btn" value="">{{loves.length}} Loves
                                    </li>
                                </form>
                                <form method="post" action="/post/{{id}}/addDislike">
                                    <li>
                                        <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                        Dislikes
                                    </li>
                                </form>
                            {{else}} {{!--User has not pawed this post--}} {{#hasLoved loves ../this.user._id}}
                                <form method="post" action="/post/{{id}}/addPaw">
                                    <li>
                                        <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                    </li>
                                </form>
                                <form method="post" action="/post/{{id}}/removeLove">
                                    {{!--SHOULD BE GREY--}}
                                    <li>
                                        <input type="submit" id="remove-love" class="btn" value="">{{loves.length}} Loves
                                    </li>
                                </form>
                                <form method="post" action="/post/{{id}}/addDislike">
                                    <li>
                                        <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                        Dislikes
                                    </li>
                                </form>
                            {{else}} {{!--User has not loved this post--}} {{#hasDisliked dislikes ../this.user._id}}
                                <form method="post" action="/post/{{id}}/addPaw">
                                    <li>
                                        <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                    </li>
                                </form>
                                <form method="post" action="/post/{{id}}/addLove">
                                    <li>
                                        <input type="submit" id="love" class="btn" value="">{{loves.length}} Loves
                                    </li>
                                </form>
                                <form method="post" action="/post/{{id}}/removeDislike>">
                                    {{!--SHOULD BE GREY--}}
                                    <li>
                                        <input type="submit" id="remove-dislike" class="btn" value="">{{dislikes.length}}
                                        Dislikes
                                    </li>
                                </form>
                            {{else}} {{!--User has not liked this post at all--}}
                                <form method="post" action="/post/{{id}}/addPaw">
                                    <li>
                                        <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                    </li>
                                </form>
                                <form method="post" action="/post/{{id}}/addLove">
                                    <li>
                                        <input type="submit" id="love" class="btn" value="">{{loves.length}} Loves
                                    </li>
                                </form>
                                <form method="post" action="/post/{{id}}/addDislike">
                                    <li>
                                        <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                        Dislikes
                                    </li>
                                </form>
                            {{/hasDisliked}} {{/hasLoved}} {{/hasPawed}}
                        </ul>
                    {{/if}}
                </footer>
                <section id="comment-view">
                    <!-- COMMENTS -->
                    {{#each comments}}
                        <section>
                            <article>
                                {{#if author.profilePic}}
                                  <img src="/uploads/{{author.profilePic.filename}}" alt="">
                                {{else}}
                                  <img src="/images/no-profile-photo.jpg" alt="">
                                {{/if}}
                            </article>
                            <section>
                                <article>
                                    {{author.fullName}}
                                </article>
                                <article>
                                    {{dateStr}}
                                </article>
                            </section>
                        </section>
                        <article id="comment-value">
                            {{content}}
                        </article>
                    {{/each}}
                    <!-- END OF COMMENTS -->
                </section>
                <section id="comments-form">
                    <section>
                        <article>
                            {{#if ../this.user.profilePic}}
                              <img src="/uploads/{{../this.user.profilePic.filename}}" alt="">
                            {{else}}
                              <img src="/images/no-profile-photo.jpg" alt="">
                            {{/if}}
                        </article>
                        <section id="add-comment">
                            <form method="post" action="/post/{{id}}/addComment">
                                <textarea id="profile-comment" name="content" rows="1"
                                          placeholder="Add a comment"></textarea>
                                <input type="submit" id="comment-btn" value="">
                            </form>
                        </section>
                    </section>
                </section>
            </section>
        {{/each}}
        <main>

            <!-- Here include post view, about, photo gallery or groups views -->
        </main>
    </section>
</div>