<section class="container pic-up-container">

  <section id="upload-photos">
    <!--                    <h1>You currently don't have any photos.</h1>-->
    <h2 class="album-tabs active-title">Photos</h2>
    <h2 class="album-tabs">Do you want to create a new album?</h2>
    <h2 class="album-tabs">Or you just want to upload single photos?</h2>
    <ul>
      <li class="active-section">
        <article id="view-tabs-in-photos" class="cntnr-crte-albm">
          <div id="container-photo-tabs">
            <h2 class="photos-tabs active-tab">Your Photos</h2>
            <h2 class="photos-tabs">Your Albums</h2>
          </div>
          <ul>
            <li class="active-tab-section  container-fluid">
              <article class="cntnr-photos row custom-gallery">
                {{#each photos}}
                <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                  <section class="photo-cntnr">
                    <header class="preview-photo-thumbnail-header">
                      <div>
                        <span class="edit-custom-button fa fa-trash">
                            <form method="POST" action="/photo/{{_id}}/delete">
                                <input type="submit" class="delete-custom-button fa fa-trash-o" value="">
                            </form>
                        </span>

                      </div>
                    </header>
                    <div class="album-photo-content">
                      <img src="/uploads/{{this.filename}}" alt="">
                    </div>
                    <footer class="preview-photo-thumbnail-footer">
                       {{#if ../this.user}}
                        <ul>
                            {{#hasPawed paws ../this.user._id}}
                                <form method="post" action="/photo/{{id}}/removePaw">
                                    {{!--SHOULD BE GREY--}}
                                    <li>
                                        <input type="submit" id="remove-paw" class="btn" value="">{{paws.length}}
                                    </li>
                                </form>
                                <form method="post" action="/photo/{{id}}/addLove">
                                    <li>
                                        <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                    </li>
                                </form>
                                <form method="post" action="/photo/{{id}}/addDislike">
                                    <li>
                                        <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                    </li>
                                </form>
                            {{else}}
                            {{!--User has not pawed this post--}}
                                {{#hasLoved loves ../this.user._id}}
                                    <form method="post" action="/photo/{{id}}/addPaw">
                                        <li>
                                            <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                        </li>
                                    </form>
                                    <form method="post" action="/photo/{{id}}/removeLove">
                                        {{!--SHOULD BE GREY--}}
                                        <li>
                                            <input type="submit" id="remove-love" class="btn" value="">{{loves.length}}
                                        </li>
                                    </form>
                                    <form method="post" action="/photo/{{id}}/addDislike">
                                        <li>
                                            <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                        </li>
                                    </form>
                                {{else}}
                                {{!--User has not loved this post--}}
                                    {{#hasDisliked dislikes ../this.user._id}}
                                        <form method="post" action="/photo/{{id}}/addPaw">
                                            <li>
                                                <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                            </li>
                                        </form>
                                        <form method="post" action="/photo/{{id}}/addLove">
                                            <li>
                                                <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                            </li>
                                        </form>
                                        <form method="post" action="/photo/{{id}}/removeDislike>">
                                            {{!--SHOULD BE GREY--}}
                                            <li>
                                                <input type="submit" id="remove-dislike" class="btn"
                                                      value="">{{dislikes.length}}
                                            </li>
                                        </form>
                                    {{else}}
                                    {{!--User has not liked this post at all--}}
                                        <form method="post" action="/photo/{{id}}/addPaw">
                                            <li>
                                                <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                            </li>
                                        </form>
                                        <form method="post" action="/photo/{{id}}/addLove">
                                            <li>
                                                <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                            </li>
                                        </form>
                                        <form method="post" action="/photo/{{id}}/addDislike">
                                            <li>
                                                <input type="submit" id="dislike" class="btn"
                                                      value="">{{dislikes.length}}
                                            </li>
                                        </form>
                                    {{/hasDisliked}}
                                {{/hasLoved}}
                            {{/hasPawed}}
                        </ul>
                    {{/if}}
                    </footer>
                  </section>
                </article>
                {{/each}}
              </article>
            </li>
            <li class="container-fluid">
              <!-- Album view-->
              <article class="row cntnr-photos">
                <section class="col-xs-12 col-sm-4 col-md-3">
                  <article id="display-all-albums">
                    <span class="filter-text">Filter:</span>
                    <section>
                      <input type="radio" id="filter-all" class="filter-input" name="filter" checked/>
                      <label for="filter-all" class="filter-label">All</label>
                    </section>
                    {{#each albums}}
                    <section>
                      <input type="radio" id="{{this.classCss}}" class="filter-input" name="filter" />
                      <label for="{{this.classCss}}" class="filter-label">{{this.name}}</label>
                    </section>
                    {{/each}}
                  </article>
                </section>
                <section class="col-xs-12 col-sm-8 col-md-9">
                  <article id="display-photos-in-selected-album">
                    <section class="filter-wrap">
                      {{#each photos}}
                      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4 filter-item {{this.classCss}}">
                        <section class="photo-cntnr">
                          <header class="preview-photo-thumbnail-header">
                            <div>
                              <span class="edit-custom-button fa fa-trash">
                                  <form method="POST" action="/photo/{{_id}}/delete">
                                    <input type="submit" class="delete-custom-button fa fa-trash-o" value="">
                                  </form>
                              </span>

                            </div>
                          </header>
                          <div class="album-photo-content">
                            <img src="/uploads/{{this.filename}}" alt="">
                          </div>
                          <footer class="preview-photo-thumbnail-footer">
                              {{#if ../this.user}}
                              <ul>
                                  {{#hasPawed paws ../this.user._id}}
                                      <form method="post" action="/photo/{{id}}/removePaw">
                                          {{!--SHOULD BE GREY--}}
                                          <li>
                                              <input type="submit" id="remove-paw" class="btn" value="">{{paws.length}}
                                          </li>
                                      </form>
                                      <form method="post" action="/photo/{{id}}/addLove">
                                          <li>
                                              <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                          </li>
                                      </form>
                                      <form method="post" action="/photo/{{id}}/addDislike">
                                          <li>
                                              <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                          </li>
                                      </form>
                                  {{else}}
                                  {{!--User has not pawed this post--}}
                                      {{#hasLoved loves ../this.user._id}}
                                          <form method="post" action="/photo/{{id}}/addPaw">
                                              <li>
                                                  <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                              </li>
                                          </form>
                                          <form method="post" action="/photo/{{id}}/removeLove">
                                              {{!--SHOULD BE GREY--}}
                                              <li>
                                                  <input type="submit" id="remove-love" class="btn" value="">{{loves.length}}
                                              </li>
                                          </form>
                                          <form method="post" action="/photo/{{id}}/addDislike">
                                              <li>
                                                  <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                              </li>
                                          </form>
                                      {{else}}
                                      {{!--User has not loved this post--}}
                                          {{#hasDisliked dislikes ../this.user._id}}
                                              <form method="post" action="/photo/{{id}}/addPaw">
                                                  <li>
                                                      <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                                  </li>
                                              </form>
                                              <form method="post" action="/photo/{{id}}/addLove">
                                                  <li>
                                                      <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                  </li>
                                              </form>
                                              <form method="post" action="/photo/{{id}}/removeDislike>">
                                                  {{!--SHOULD BE GREY--}}
                                                  <li>
                                                      <input type="submit" id="remove-dislike" class="btn"
                                                            value="">{{dislikes.length}}
                                                  </li>
                                              </form>
                                          {{else}}
                                          {{!--User has not liked this post at all--}}
                                              <form method="post" action="/photo/{{id}}/addPaw">
                                                  <li>
                                                      <input type="submit" id="paw" class="btn" value="">{{paws.length}}
                                                  </li>
                                              </form>
                                              <form method="post" action="/photo/{{id}}/addLove">
                                                  <li>
                                                      <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                  </li>
                                              </form>
                                              <form method="post" action="/photo/{{id}}/addDislike">
                                                  <li>
                                                      <input type="submit" id="dislike" class="btn"
                                                            value="">{{dislikes.length}}
                                                  </li>
                                              </form>
                                          {{/hasDisliked}}
                                      {{/hasLoved}}
                                  {{/hasPawed}}
                              </ul>
                          {{/if}}
                          </footer>
                        </section>
                      </article>
                      {{/each}}
                      <section id="filter-mask"></section>
                      <!-- mask is last -->
                    </section>
                  </article>
                </section>
              </article>
            </li>
          </ul>
        </article>
      </li>
      <li>
        <article class="container-fluid cntnr-crte-albm">
          <form action="/photo/all/album" method="POST" enctype="multipart/form-data" class="pic-form" id="album-photos-form">
            <fieldset>
              <section class="col-xs-12 col-sm-4 col-md-3 float-left-cntr">
                <article class="form-inputs-style">
                  <div>
                    <label for="nameAlbum">Album name</label>
                    <input type="text" class="cstm-input-register-style input-cstm-style" id="" value="" name="nameAlbum" placeholder="Title"
                    />
                  </div>
                  <div>
                    <label for="descriptionAlbum">Description</label>
                    <textarea id="" class="cstm-input-register-style input-cstm-style" rows="10" cols="100" placeholder="Say something about this album..."
                      name="descriptionAlbum"></textarea>
                  </div>
                  <div class="radio-questions">
                    <div>
                      <input type="radio" name="photocheckAlbum" id="single-public" value="publicvisible" checked="checked">
                      <label for="single-public">Is this album public?</label>
                    </div>
                    <div>
                      <input type="radio" name="photocheckAlbum" id="single-category-friends" value="groupvisible">
                      <label for="single-category">Or is it visible to your category and
                                                friends?</label>
                    </div>
                  </div>
                </article>
              </section>
              <section class="container-fluid col-xs-12 col-sm-8 col-md-9 float-left-cntr ">
                <article class="cntr-cntr">
                  <output></output>
                  <!--<div id="selectedFiles"></div>-->
                  <article class="col-xs-12 col-sm-5 col-md-4 add-photo-button">
                    <label for="uploadAlbum" class="browseBtnLabel">
                      <section class="photo-cntnr add-photo">
                          <input id="uploadAlbum" name="uploadAlbum" type="file" multiple/>
                      </section>
                    </label>
                  </article>
                </article>
              </section>
              <input type="checkbox" id="check-before-send-album" class="check-before-send-btn" /> I want to publish these
              photos.
              <button type="submit" id="publish-album" class="btn btn-secondary sign-in-log-out btn-publish">Publish
                            </button>
            </fieldset>
          </form>
        </article>
      </li>
      <li>
        <article class="container-fluid cntnr-crte-albm">
          <form action="/photo/all/single" method="POST" enctype="multipart/form-data" class="pic-form" id="single-photos-form">
            <fieldset>
              <section class="col-xs-12 col-sm-4 col-md-3 float-left-cntr">
                <article class="form-inputs-style">
                  <div>
                    <label for="descriptionPostPhotos">Post</label>
                    <textarea id="" class="cstm-input-register-style input-cstm-style" rows="10" cols="100" placeholder="Say something about these photos..."
                      name="descriptionPostPhotos"></textarea>
                  </div>
                  <div class="radio-questions">
                    <div>
                      <input type="radio" name="photocheck" id="single-public" value="publicvisible" checked="checked">
                      <label for="single-public">Are these photos public?</label>
                    </div>
                    <div>
                      <input type="radio" name="photocheck" id="single-category-friends" value="groupvisible">
                      <label for="single-category">Or are they visible to your category and
                                                friends?</label>
                    </div>
                  </div>
                </article>
              </section>
              <section class="container col-xs-12 col-sm-8 col-md-9 float-left-cntr">
                <article class="cntr-cntr">
                  <output></output>
                  <!--<div id="selectedFiles"></div>-->
                  <article class="col-xs-12 col-sm-5 col-md-4 add-photo-button">
                    <label for="uploadPhotos" class="browseBtnLabel">
                      <section class="photo-cntnr add-photo" id="add-single-photos">
                        <input name="uploadedPhotos" id="uploadPhotos" type="file" multiple/>
                      </section>
                    </label>
                  </article>
                </article>
              </section>
              <input type="checkbox" id="check-before-send" class="check-before-send-btn" /> I want to publish these photos.
              <button type="submit" id="publish-photos" class="btn btn-secondary sign-in-log-out btn-publish">Publish
                            </button>

            </fieldset>
          </form>
        </article>
      </li>
    </ul>
  </section>
</section>

