<section class="container pic-up-container">

    <section id="upload-photos">
        <h2 class="album-tabs active-title">Photos</h2>
        <ul>
            <li class="active-section">
                <article id="view-tabs-in-photos" class="cntnr-crte-albm">
                    <div id="container-photo-tabs">
                        <h2 class="photos-tabs active-tab">{{profileUser.fullName}}'s Photos</h2>
                        <h2 class="photos-tabs">{{profileUser.fullName}}'s Albums</h2>
                    </div>
                    <ul>
                        <li class="active-tab-section  container-fluid">
                            <article class="cntnr-photos row custom-gallery images">
                                {{#each photos}}
                                    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 in-album ">
                                        <section class="photo-cntnr">
                                            <div class="album-photo-content">
                                                <img src="/uploads/{{this.filename}}" alt="">
                                            </div>
                                            <div class="description">{{this.description}}</div>
                                            <footer class="preview-photo-thumbnail-footer">
                                              {{#if ../this.user}}
                                              <ul>
                                                  {{#hasPawed paws ../this.user._id}}
                                                      <form method="post" action="/photo/{{id}}/removePaw">
                                                          {{!--SHOULD BE GREY--}}
                                                          <li>
                                                              <input type="submit" id="remove-paw" class="btn" value="">{{paws.length}} Paws
                                                          </li>
                                                      </form>
                                                      <form method="post" action="/photo/{{id}}/addLove">
                                                          <li>
                                                              <input type="submit" id="love" class="btn" value="">{{loves.length}} Loves
                                                          </li>
                                                      </form>
                                                      <form method="post" action="/photo/{{id}}/addDislike">
                                                          <li>
                                                              <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                                              Dislikes
                                                          </li>
                                                      </form>
                                                  {{else}}
                                                  {{!--User has not pawed this post--}}
                                                      {{#hasLoved loves ../this.user._id}}
                                                          <form method="post" action="/photo/{{id}}/addPaw">
                                                              <li>
                                                                  <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                                              </li>
                                                          </form>
                                                          <form method="post" action="/photo/{{id}}/removeLove">
                                                              {{!--SHOULD BE GREY--}}
                                                              <li>
                                                                  <input type="submit" id="remove-love" class="btn" value="">{{loves.length}} Loves
                                                              </li>
                                                          </form>
                                                          <form method="post" action="/photo/{{id}}/addDislike">
                                                              <li>
                                                                  <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                                                  Dislikes
                                                              </li>
                                                          </form>
                                                      {{else}}
                                                      {{!--User has not loved this post--}}
                                                          {{#hasDisliked dislikes ../this.user._id}}
                                                              <form method="post" action="/photo/{{id}}/addPaw">
                                                                  <li>
                                                                      <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                                                  </li>
                                                              </form>
                                                              <form method="post" action="/photo/{{id}}/addLove">
                                                                  <li>
                                                                      <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                                      Loves
                                                                  </li>
                                                              </form>
                                                              <form method="post" action="/photo/{{id}}/removeDislike>">
                                                                  {{!--SHOULD BE GREY--}}
                                                                  <li>
                                                                      <input type="submit" id="remove-dislike" class="btn"
                                                                            value="">{{dislikes.length}} Dislikes
                                                                  </li>
                                                              </form>
                                                          {{else}}
                                                          {{!--User has not liked this post at all--}}
                                                              <form method="post" action="/photo/{{id}}/addPaw">
                                                                  <li>
                                                                      <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                                                  </li>
                                                              </form>
                                                              <form method="post" action="/photo/{{id}}/addLove">
                                                                  <li>
                                                                      <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                                      Loves
                                                                  </li>
                                                              </form>
                                                              <form method="post" action="/photo/{{id}}/addDislike">
                                                                  <li>
                                                                      <input type="submit" id="dislike" class="btn"
                                                                            value="">{{dislikes.length}} Dislikes
                                                                  </li>
                                                              </form>
                                                          {{/hasDisliked}}
                                                      {{/hasLoved}}
                                                  {{/hasPawed}}
                                              </ul>
                                          {{/if}}
                                            </footer>
                                        </section>
                                    </article>
                                {{/each}}
                            </article>
                        </li>
                        <li class="container-fluid">
                            <!-- Album view-->
                            <article class="row cntnr-photos">
                                <section class="col-xs-12 col-sm-4 col-md-3">
                                    <article id="display-all-albums">
                                        <span class="filter-text">Filter:</span>
                                        <section>
                                            <input type="radio" id="filter-all" class="filter-input" name="filter" checked/>
                                            <label for="filter-all" class="filter-label">All</label>
                                        </section>
                                        {{#each albums}}
                                            <section>
                                                <input type="radio" id="{{this.classCss}}" class="filter-input" name="filter" />
                                                <label for="{{this.classCss}}" class="filter-label">{{this.displayName}}</label>
                                            </section>
                                        {{/each}}
                                    </article>
                                </section>
                                <section class="col-xs-12 col-sm-8 col-md-9">
                                    <article id="display-photos-in-selected-album">
                                        <section class="filter-wrap images">
                                            {{#each photos}}
                                                <article class="in-album  col-xs-12 col-sm-6 col-md-4 col-lg-4 filter-item {{this.classCss}}">
                                                    <section class="photo-cntnr">
                                                        <div class="album-photo-content">
                                                            <img src="/uploads/{{this.filename}}" alt="">
                                                        </div>
                                                        <div class="description">{{this.description}}</div>
                                                        <footer class="preview-photo-thumbnail-footer">
                                                            {{#if ../this.user}}
                                                            <ul>
                                                                {{#hasPawed paws ../this.user._id}}
                                                                    <form method="post" action="/photo/{{id}}/removePaw">
                                                                        {{!--SHOULD BE GREY--}}
                                                                        <li>
                                                                            <input type="submit" id="remove-paw" class="btn" value="">{{paws.length}} Paws
                                                                        </li>
                                                                    </form>
                                                                    <form method="post" action="/photo/{{id}}/addLove">
                                                                        <li>
                                                                            <input type="submit" id="love" class="btn" value="">{{loves.length}} Loves
                                                                        </li>
                                                                    </form>
                                                                    <form method="post" action="/photo/{{id}}/addDislike">
                                                                        <li>
                                                                            <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                                                            Dislikes
                                                                        </li>
                                                                    </form>
                                                                {{else}}
                                                                {{!--User has not pawed this post--}}
                                                                    {{#hasLoved loves ../this.user._id}}
                                                                        <form method="post" action="/photo/{{id}}/addPaw">
                                                                            <li>
                                                                                <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                                                            </li>
                                                                        </form>
                                                                        <form method="post" action="/photo/{{id}}/removeLove">
                                                                            {{!--SHOULD BE GREY--}}
                                                                            <li>
                                                                                <input type="submit" id="remove-love" class="btn" value="">{{loves.length}} Loves
                                                                            </li>
                                                                        </form>
                                                                        <form method="post" action="/photo/{{id}}/addDislike">
                                                                            <li>
                                                                                <input type="submit" id="dislike" class="btn" value="">{{dislikes.length}}
                                                                                Dislikes
                                                                            </li>
                                                                        </form>
                                                                    {{else}}
                                                                    {{!--User has not loved this post--}}
                                                                        {{#hasDisliked dislikes ../this.user._id}}
                                                                            <form method="post" action="/photo/{{id}}/addPaw">
                                                                                <li>
                                                                                    <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                                                                </li>
                                                                            </form>
                                                                            <form method="post" action="/photo/{{id}}/addLove">
                                                                                <li>
                                                                                    <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                                                    Loves
                                                                                </li>
                                                                            </form>
                                                                            <form method="post" action="/photo/{{id}}/removeDislike>">
                                                                                {{!--SHOULD BE GREY--}}
                                                                                <li>
                                                                                    <input type="submit" id="remove-dislike" class="btn"
                                                                                          value="">{{dislikes.length}} Dislikes
                                                                                </li>
                                                                            </form>
                                                                        {{else}}
                                                                        {{!--User has not liked this post at all--}}
                                                                            <form method="post" action="/photo/{{id}}/addPaw">
                                                                                <li>
                                                                                    <input type="submit" id="paw" class="btn" value="">{{paws.length}} Paws
                                                                                </li>
                                                                            </form>
                                                                            <form method="post" action="/photo/{{id}}/addLove">
                                                                                <li>
                                                                                    <input type="submit" id="love" class="btn" value="">{{loves.length}}
                                                                                    Loves
                                                                                </li>
                                                                            </form>
                                                                            <form method="post" action="/photo/{{id}}/addDislike">
                                                                                <li>
                                                                                    <input type="submit" id="dislike" class="btn"
                                                                                          value="">{{dislikes.length}} Dislikes
                                                                                </li>
                                                                            </form>
                                                                        {{/hasDisliked}}
                                                                    {{/hasLoved}}
                                                                {{/hasPawed}}
                                                            </ul>
                                                        {{/if}}
                                                        </footer>
                                                    </section>
                                                </article>
                                            {{/each}}
                                            <section id="filter-mask"></section>
                                            <!-- mask is last -->
                                        </section>
                                    </article>
                                </section>
                            </article>
                        </li>
                    </ul>
                </article>
            </li>
        </ul>
    </section>
</section>
<section id="backdrop"></section>
<section id="box">
    <div class="prev">P</div>
    <div class="next">N</div>
    <div class="close-light-box">X</div>
    <div class="photo-description">
        {{#each photos}}
            <div class="description">{{this.description}}</div>
        {{/each}}
    </div>
    <div class="box-image"></div>
    <div class="photo-buttons">
        {{#each photos}}
            <footer class="preview-photo-thumbnail-footer">
                {{#if ../this.user}}
                    <ul>
                        {{#hasPawed paws ../this.user._id}}
                            <form method="post" action="/photo/{{id}}/removePaw">
                                {{!--SHOULD BE GREY--}}
                                <li>
                                    <input type="submit" id="remove-paw" class="btn" value=""><span>{{paws.length}}</span>
                                </li>
                            </form>
                            <form method="post" action="/photo/{{id}}/addLove">
                                <li>
                                    <input type="submit" id="love" class="btn" value=""><span>{{loves.length}}</span>
                                </li>
                            </form>
                            <form method="post" action="/photo/{{id}}/addDislike">
                                <li>
                                    <input type="submit" id="dislike" class="btn" value=""><span>{{dislikes.length}}</span>
                                </li>
                            </form>
                        {{else}}
                        {{!--User has not pawed this post--}}
                            {{#hasLoved loves ../this.user._id}}
                                <form method="post" action="/photo/{{id}}/addPaw">
                                    <li>
                                        <input type="submit" id="paw" class="btn" value=""><span>{{paws.length}}</span>
                                    </li>
                                </form>
                                <form method="post" action="/photo/{{id}}/removeLove">
                                    {{!--SHOULD BE GREY--}}
                                    <li>
                                        <input type="submit" id="remove-love" class="btn" value=""><span>{{loves.length}}</span>
                                    </li>
                                </form>
                                <form method="post" action="/photo/{{id}}/addDislike">
                                    <li>
                                        <input type="submit" id="dislike" class="btn" value=""><span>{{dislikes.length}}</span>
                                    </li>
                                </form>
                            {{else}}
                            {{!--User has not loved this post--}}
                                {{#hasDisliked dislikes ../this.user._id}}
                                    <form method="post" action="/photo/{{id}}/addPaw">
                                        <li>
                                            <input type="submit" id="paw" class="btn" value=""><span>{{paws.length}}</span>
                                        </li>
                                    </form>
                                    <form method="post" action="/photo/{{id}}/addLove">
                                        <li>
                                            <input type="submit" id="love" class="btn" value=""><span>{{loves.length}}</span>
                                        </li>
                                    </form>
                                    <form method="post" action="/photo/{{id}}/removeDislike>">
                                        {{!--SHOULD BE GREY--}}
                                        <li>
                                            <input type="submit" id="remove-dislike" class="btn"
                                                   value=""><span>{{dislikes.length}}</span>
                                        </li>
                                    </form>
                                {{else}}
                                {{!--User has not liked this post at all--}}
                                    <form method="post" action="/photo/{{id}}/addPaw">
                                        <li>
                                            <input type="submit" id="paw" class="btn" value=""><span>{{paws.length}}</span>
                                        </li>
                                    </form>
                                    <form method="post" action="/photo/{{id}}/addLove">
                                        <li>
                                            <input type="submit" id="love" class="btn" value=""><span>{{loves.length}}</span>
                                        </li>
                                    </form>
                                    <form method="post" action="/photo/{{id}}/addDislike">
                                        <li>
                                            <input type="submit" id="dislike" class="btn"
                                                   value=""><span>{{dislikes.length}}</span>
                                        </li>
                                    </form>
                                {{/hasDisliked}}
                            {{/hasLoved}}
                        {{/hasPawed}}
                    </ul>
                {{/if}}

            </footer>
        {{/each}}
    </div>
</section>
<section id="backdrop-photos"></section>
<section id="box-photos">
    <div class="prev fa fa-chevron-left"></div>
    <div class="next fa fa-chevron-right"></div>
    <div class="close-light-box fa fa-times"></div>
</section>